.navItemClass {
  color: white;
  text-decoration-color: white;
  text-decoration: none;
}

.img1 {
  height: 40%;
  width: 60%;
}

.img2 {
  height: 40%;
  width: 100%;
}

.img3 {
  height: 10%;
  max-height: 400px;
  width: 100%;
}

.pieChart {
  max-height: 400px;
}

.th{
  font-weight: bold;
}